<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projekpember">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekPember">

        <activity
            android:name=".Welcome"
            android:theme="@style/Theme.ProjekPember.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter></activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.ProjekPember.NoActionBar"></activity>
        <activity android:name=".Riwayattr"></activity>
        <activity android:name="com.example.projekpember.kasir.crud.kasir1"
            tools:ignore="Instantiatable"></activity>
        <activity android:name="Tentangkami"></activity>
        <activity android:name="com.example.projekpember.crud1.Tambahbarang"></activity>
        <activity android:name="com.example.projekpember.crud1.DetailBarang"></activity>
        <activity android:name="com.example.projekpember.crud1.MainActivity2"></activity>
        <activity android:name="com.example.projekpember.crud1.DetailBarang2"></activity>
        <activity android:name="com.example.projekpember.kasir.crud.detailkasir"
            tools:ignore="Instantiatable"></activity>

        <activity android:name="com.example.projekpember.laporan.Laporan"
            tools:ignore="Instantiatable,MissingClass"></activity>



    </application>

</manifest>